@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
*{
  box-sizing: border-box;
}

body{
  margin: 0;
  min-height: 100vh; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Playfair Display', serif;
}

h1,h2,h3,p,ul{
  margin-top: 0;
  margin-bottom: 0;
}

ul{
  padding-left: 0;
  list-style: none;
}

img{
  width: 100%;
  display: block;
}

button{
  border: 0;
}